body{
	background: #000000;
}
#mapContainer{
}

div.grid{
	background: purple;
	width: 128px;
	height: 128px;
	margin: 1px;
	position: absolute;
}

div.break{
	clear: both;
}







    
div.rt_w1{
	background: rgb(150,200,255);
}
div.rt_c1{
	background: rgb(200,200,200);
}
div.rt_cr1{
	background: rgb(200,200,200);
}
div.rt_b1{
	background: rgb(255,150,150);
}
div.rt_g1{
	background: rgb(130,130,130);
}
div.rt_e1{
	background: rgb(255,255,170);
}
div.rt_r1{
	background: rgb(160,200,200);
}
div.rt_r2{
	background: rgb(170,200,200);
}
div.rt_r3{
	background: rgb(180,200,200);
}
div.rt_r_air{
	background: rgb(220,220,255);
}